.cc_je {
	color: #666;
	font-size: 0.9375rem;
	font-weight: bold;
}

.sr_detail {
	border-radius: 0.5rem;
}

.sr_detail_body {
	min-height: 12.5rem;
	background-color: white;
}

.sr_detail_list {
	font-size: 0.875rem;
	color: #666666;
}

.sr_detail_list li {
	border-bottom: #ddd 0.0625rem dotted;
	padding: 0.625rem;
}

.jezt {
	display: flex;
	justify-content: space-between;
}

.jezt .je span {
	color: #FF6600;
	font-weight: bold;
}

.jezt .zt {
	color: #FF6600;
}

.jezt .zc {
	color: #00A5E0;
}

.jydz {
	margin: 0.3125rem 0;
	word-break: break-all;
}

.jysj {

}

.operation_area {
	position: fixed;
	display: flex;
	/* flex-direction: row; */
	justify-content: space-around;
	left: 0.625rem;
	bottom: 0.625rem;
	right: 0.625rem;
	height: 2.375rem;
}

.operation_area div {
	flex: 1;
}

.operation_area .ui-btn {
	flex: 20;
	height: 100%;
}

.zz_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.3125rem 0.5rem;
	height: 2.75rem;
	font-size: 1rem;
	color: #333333;
}

#transferDiv .ic_qrcode {
	position: absolute;
	right: 0;
	bottom: 0;
	background: url(../img/ic_qrcode.png) no-repeat center;
	background-size: 60%;
	width: 2.875rem;
	height: 2.875rem;
}
#transferDiv .zz_input {
	padding-left: 0.625rem;
	/* width: 130%; */
}

#transferDiv footer {
	margin: 0.3125rem;
	color: red;
}

#transferDiv label {
	font-size: 1rem;
}

#transferDiv input {
	font-size: 1rem;
}
